.mat-toolbar.mat-primary {
    
    background: transparent;
    color: black;
    border: none;

    animation: bounceInDown; 
    animation-duration: 1.2s; 
    animation-delay: .1;
    margin-bottom: 10px;
}

.mobile-sidenav-toggle {
    vertical-align: middle;
    height: 35px;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;

    .mat-icon {
        vertical-align: middle;
    }
}

.logged-in-text {
    font-family: "Raleway", sans-serif;
    font-weight: 300;

    @media screen and (max-width: 600px) {
        visibility: hidden;
        width: 0;
    }
}

ul {
    li {
        list-style: none;
        margin-top: 20px;
    }
}

::ng-deep .mat-button {
    border: none;
    text-transform: uppercase;
    border-radius: 34px !important;
    border: 2px solid var(--primaryBlue) !important;
    color: black;

    &:hover {
        background: var(--primaryBlue) !important;
        color: white !important;

        .mat-icon {
            color: white !important;
        }
    }

    &:focus {
        outline: none;
    }
}

::ng-deep .mat-menu-panel {
    background: white;  
}

::ng-deep button.mat-menu-item {
    color: #05414c;
    background: white;

    &:hover {
        background: var(--primaryBlue) !important;
        color: white !important;

        ::ng-deep .mat-icon {
            color: white;
        }
    }

    &:focus {
        outline: none;
    }
}

::ng-deep .mat-icon {
    color: var(--primaryBlue);
}

::ng-deep .mat-menu-item .mat-icon-no-color, .mat-menu-item-submenu-trigger::after {
    color: #05414c;
}