.mat-toolbar.mat-primary {
    
    background: white;
    color: black;

    animation: bounceInDown; 
    animation-duration: 1.2s; 
    animation-delay: .1;
}

.logged-in-text {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

ul {
    li {
        list-style: none;
        margin-top: 20px;
    }
}

::ng-deep .mat-button {
    border: none;
    text-transform: uppercase;
    border-radius: 34px !important;
    border: 2px solid #4f50ff !important;
    color: #4f50ff;

    &:hover {
        background: #4f50ff !important;
        color: white !important;

        .mat-icon {
            color: white !important;
        }
    }

    &:focus {
        outline: none;
    }
}

::ng-deep .mat-menu-panel {
    background: white;  
}

::ng-deep button.mat-menu-item {
    color: #05414c;
    background: white;

    &:hover {
        background: #4f50ff !important;
        color: white !important;
    }

    &:focus {
        outline: none;
    }
}

::ng-deep .mat-icon {
    color: #4f50ff ;
}

::ng-deep .mat-menu-item .mat-icon-no-color, .mat-menu-item-submenu-trigger::after {
    color: #05414c;
}