<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Create New Project</h4>
                <p class="card-category">Enter information for a new project</p>
            </div>
            <div class="card-body">
                <form [formGroup]="projectModel" (submit)="createProject()">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="full-width">
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="projectName">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="full-width">
                                <mat-label>Description</mat-label>
                                <textarea matInput formControlName="description"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button mat-flat-button class="btn-submit" type="submit">Create</button>
                            <button mat-flat-button class="btn-reset" type="button" [routerLink]="'/projects-list'">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>