
  .card-body {
      margin-top: 60px;
  }

  .table {
      color: white;
      text-transform: uppercase;

      td {
          border-color: #58c7ce;

          &:first-child {
              border-bottom-left-radius: 8px;
              border-top-left-radius: 8px;
          }

          &:last-child {
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
        }
      }
  }

tr {
    &:hover {
        background: #3baa998c;
    }
}

  .text-primary {
    color: #cab568 !important
  }