.container-fluid, .card-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

.card-title {
  font-size: 16px !important;
}