:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 325px;
    background: #1905235c;
    color: white;

    animation: bounceInLeft; 
    animation-duration: 1.2s; 
    animation-delay: .1;
}

mat-drawer-container {
    height: 100%;
    background: transparent;
}

app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    
    animation: bounceInUp; 
    animation-duration: 1.2s; 
    animation-delay: .1;
}