.main-content {
    width: 100% !important;
}

.mat-toolbar {
    background: var(--offWhite);
    border-bottom: 1px var(--grayText) solid;
    color: black;

    img {
        height: 45px;
        width: 45px;
    }

    .header-text {
        margin-left: 15px;
        h1 {
            font-weight: bold;
            font-family: "Raleway", sans-serif;
        }
    }
}

.login-main {
    width: calc(100vw - 850px);
    min-height: calc(100vh - 250px);
    background: #ffffffe8;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.15);

    animation: slideInRight;
    animation-duration: .8s;

    @media screen and (max-width: 950px) {
        flex-direction: column;
        width: 100%;
    }

}

.card {

    &.right {
        width: 450px !important;
    }

    &.left {
        width: 450px;
        height: 450px;
        border: none;
        box-shadow: none;

        img {
            margin: 0 auto;
            height: 150px;
            width: 150px;
        }

    }

}

  .card-body {

      display: flex;
        justify-content: center;
    text-align: center;
    flex-direction: column;

      .welcome-text {
          height: 60px;
          margin-top: 25px;
          font-size: 34px;
          font-weight: bold;
      }
  }


  .tab-header {
      text-align: center;

      h2 {
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        display:inline-block;
        padding: 30px 40px 10px 40px;
        cursor: pointer;
        color: black;
        border-bottom: 2px solid #adadad;
        

            &.active {
                color: var(--primaryBlue);
                font-weight: 500;
                border-bottom: 4px solid var(--primaryBlue);
            }

            &:focus {
                outline: none;
            }

      }
  }

form {
    margin: 0px 16px;
    margin-top: 25px;
    color: black;
}

.btn-register {
    margin-bottom: 10px !important;
    margin-top: 5px !important;
}

.btn-login {
    margin-top: 5px !important;
    margin-bottom: -20px !important;
}

.full-width {
    width: 100%;
}

.mat-flat-button {
    background: var(--primaryBlue);
    color: white;
    margin: 0 auto;
    width: 145px;

    &:hover {
        background: var(--darkBlue);
    }

    &.mat-button-disabled {
        color: #ffffff94;
        background-color: #4f50ff8f;
        cursor: not-allowed;
    }
}

.mat-input-element {
    caret-color: #58c7ce;
}

::ng-deep .mat-form-field-ripple {
    background-color: var(--primaryBlue) !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid mat-label {
    color: red !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
    caret-color: red !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: red !important;
}

::ng-deep .mat-icon {
    font-family: 'Material Icons' !important;
}
