
.main-content {
    width: 100vw !important;
}

.card {
    width: 450px !important;
}

  .card-body {
      margin-top: 30px;
      margin-bottom: 30px;
  }


  .tab-header {
      text-align: center;

      h2 {
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        display:inline-block;
        padding: 30px 40px 10px 40px;
        cursor: pointer;
        color: black;
        border-bottom: 2px solid #adadad;
        

            &.active {
                color: var(--primaryBlue);
                font-weight: 500;
                border-bottom: 4px solid var(--primaryBlue);
            }

            &:focus {
                outline: none;
            }

      }
  }

form {
    margin: 0px 16px;
    margin-top: 25px;
    color: black;
}

.btn-register {
    margin-bottom: 10px !important;
    margin-top: 5px !important;
}

.btn-login {
    margin-top: 5px !important;
    margin-bottom: -20px !important;
}

.full-width {
    width: 100%;
}

.mat-flat-button {
    background: var(--primaryBlue);
    color: white;
    margin: 0 auto;
    width: 145px;

    &:hover {
        background: var(--darkBlue);
    }

    &.mat-button-disabled {
        color: #ffffff94;
        background-color: #4f50ff8f;
        cursor: not-allowed;
    }
}

.mat-input-element {
    caret-color: #58c7ce;
}

::ng-deep .mat-form-field-ripple {
    background-color: var(--primaryBlue) !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid mat-label {
    color: red !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
    caret-color: red !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: red !important;
}

::ng-deep .mat-icon {
    font-family: 'Material Icons' !important;
}
