<div class="main-content" [hidden]="!dataSource">
    <div class="container-fluid">
        <div class="card-wrapper">

            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">User Roles</h4>
                    <p class="card-category">Manage application user roles</p>
                </div>
                <div class="card-body">
                    <perfect-scrollbar class="table-responsive">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <!-- Username Column -->
                            <ng-container matColumnDef="userName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                                <td mat-cell *matCellDef="let element">
                                    <button class="btn-link" (click)="viewUserProfile(element.id)">
                                        {{element.userName }}
                                    </button>
                                </td>
                            </ng-container>

                            <!-- First Name Column -->
                            <ng-container matColumnDef="firstName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                            </ng-container>

                            <!-- Last Name Column -->
                            <ng-container matColumnDef="lastName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                            </ng-container>

                            <!-- Email Column -->
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <!-- Role Column -->
                            <ng-container matColumnDef="role">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                                <td mat-cell *matCellDef="let element;">
                                    <mat-form-field class="full-width">
                                        <mat-select [value]="element.role"
                                            (selectionChange)="onRoleChange($event, element)">
                                            <mat-option *ngFor="let role of roles" [value]="role">{{role}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <mat-cell *matCellDef="let row">
                                    <button mat-flat-button class="btn-submit" type="submit"
                                        [disabled]="!row.isRoleChanged" (click)="updateRole(row)">Update</button>
                                    <button mat-flat-button class="btn-delete" (click)="deleteUser(row)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                    </perfect-scrollbar>
                </div>
            </div>

        </div>
    </div>
</div>