// .card {
//     max-width: 950px !important;
//     min-width: 900px !important;
// }

// tr.workItem-detail-row {
//     height: 0;
//     width: 100%;
//     border-bottom: none;

//     &:hover {
//         background: transparent !important;
//     }
//   }

//   .ticket-details-subheader {
//     display: block;
//     width: 100%;
//     text-align: left;
//     padding-left: 10px;
//     font-size: 14px;
//     font-weight: bold;
//     background:var(--offWhite);
//     margin-left: -15px;
//     height: 20px;
//     padding-top: 3px;
//   }

//   .td-ticket-toggle, .td-ticket-no-toggle {
//     border-bottom: none !important;
//     text-align: left !important;
//     padding-left: 15px !important;
//   }

//   .td-ticket-no-toggle {
//     height: 56.56px;
//     vertical-align: middle;

// }
//   .ticket-column {
//       width: 20%;
//   }
//   .ticket-column-label {
//     height: 30px;
//     text-align: left;
//     padding-left: 15px;
//     padding-top: 5px;
//     font-weight: bold;
//     background-color:var(--offWhite);
//     font-size: 12px;
//   }
// .workItem-element-detail {
//     overflow: hidden;
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
//     background-color: #60cdd230;
//     width: 100%;  
//     border-bottom: 1px solid white;
//   }


// tr {
//     &:hover {
//         background: #3baa998c;
//     }
// }

// .table-responsive {
//     display: block;
//     width: 100%;
//     height: 485px;
//     position: relative;
//     margin: 0px auto;
//     padding: 0px;

//     table {
//         width: 100%;
//         max-width: 100%;
//         background: transparent;
//         margin-bottom: 1rem;
//         display: table;
//         border-collapse: collapse;
//         margin: 0px;
//     }
//     .mat-row,
//     .mat-header-row {
//         display: table-row;
//     }
//     .mat-cell,
//     .mat-header-cell {
//         word-wrap: initial;
//         //display: table-cell;
//         //padding: 0px 5px;
//         line-break: unset;
//         width: auto;
//         white-space: nowrap;
//         overflow: hidden;
//         vertical-align: middle;
//     }
// }

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0 20px 0 20px;
}