<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Your Tickets</h4>
                        <p class="card-category">Create, edit, and view your tickets</p>
                    </div>
                    <div class="card-body">
                        <button mat-flat-button class="btn-create" type="button" [routerLink]="'/create-ticket'">
                            <mat-icon>add</mat-icon>
                            Create New Ticket
                        </button>             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>