/* You can add global styles to this file, and also import other style files */

:root {
    --primaryBlue: #4f50ff;
    --darkBlue: #4344c7;

    --orange: #da8a27;
    --darkOrange: #ce7b14;

    --red: #c30000;
    --darkRed: #ab0404;

    --green: #3faf61;
    --darkGreen: #3a9e58;

    --offWhite: #f9f9f9c7;
    --grayText: #8c8c8c;

}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Raleway', sans-serif;
}

.material-icons {
    font-family: 'Material Icons' !important;
}


.wrapper {

    &.sidebar-wrapper {
        display: flex;
        align-items: stretch;
        .sidebar {
            min-width: 315px;
            max-width: 315px;
            min-height: 100vh;
            background: white;
            font-family: 'Raleway', sans-serif;
        }
    }
  }

  
.bugtracker-dropdown {
    background-color: white;
    border: 2px solid var(--primaryBlue);
    color: #05414c;

    &:active {
        background-color: #05414c;
        color: white;
    }

    &:hover {
        color: white;
        background-color: var(--primaryBlue);
    }

}


#toast-container > div {
    opacity: 1;
}

.mat-divider {
    margin: 0 20px 0 20px !important;
}


