
.container {
    width: auto;
    display: flex;

    &.left {
        flex-direction: row;
    }

    &.right {
        flex-direction: column;
    }
}

.card-workItem {
    width: 100% !important;
    height: 635px;
    margin-left: 40px;
    margin-top: 35px;
}

.card-small:first-child {
    margin-bottom: 20px;

}

  .card-small {
    margin-left: 30px;
    height: 345px;
    width: 100% !important;

      tr {
        &:hover {
            background: #3baa998c;
        }
    }
    
    .table-responsive {
        display: block;
        width: 100%;
        height: 175px;
        position: relative;
        margin: 0px auto;
        padding: 0px;
        margin-bottom: 10px;     
    
        table {
            width: 100%;
            max-width: 100%;
            background: transparent;
            margin-bottom: 1rem;
            display: table;
            border-collapse: separate!important;
            border-spacing:0 6px!important;
            margin: 0px;

        }

        .mat-header-row,
        .mat-row {
            display: table-row;
            margin-bottom: 10px;
        }
        .mat-cell,
        .mat-header-cell {
            word-wrap: initial;
            //display: table-cell;
            //padding: 0px 5px;
            line-break: unset;
            width: auto;
            white-space: wrap;
            overflow: hidden;
            vertical-align: middle;
        }
    }

    ::ng-deep .mat-sort-header-arrow {
        color: #75ff92;
    }
    
    th.mat-header-cell {
        background: #11475d;
        color: white;
        font-weight: bold;
    }
    
    .mat-cell {
        color: rgb(255, 255, 255, 0.87) !important;
        border-bottom-color: rgb(94, 205, 199, 0.32) !important;
    }
    
    .mat-form-field {
        width: 80%;
    }
    
    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
        padding-right: 0;
    }

    mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
        padding-top: 10px;
    }
  }


  .user-profile-textbox-label {
    padding-left: 5px;
}

.user-profile-textbox-container-about {
    height: 240px !important;
}

.user-profile-textbox-container,
.user-profile-textbox-container-about {
    background: #11475d;
    height: 52px;
    border-radius: 8px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(70,182,168,.55);
    margin-bottom: 10px;
    padding: 5px;

    .user-profile-textbox {
        height: 100%;
        padding-top: 10px;
        padding-left: 10px;
    }

}
